.container{
    max-width: 1500px;
    width:100%;
    text-align: center;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    
}
h1{
    color:rgb(46, 161, 98);
    font-size: 50px;
}
.form{
    max-width: 700px;
    width:100%;
    height: 400px;
    display:grid;
    border:1px solid rgba(46, 161, 98, 0.548);
    border-radius: 20px;
    margin-right: auto;
    margin-left:auto;
    padding: 40px 20px 40px 20px;
    -webkit-box-shadow: 10px 10px 11px -9px rgba(92,92,92,0.5);
    -moz-box-shadow: 10px 10px 11px -9px rgba(92,92,92,0.5);
    box-shadow: 10px 10px 11px -9px rgba(92,92,92,0.5);
}
label{
    text-align: left;
    color:rgb(46, 161, 98);
    margin-top:10px;
    margin-bottom:3px;
}
input{
    border:1px solid rgba(46, 161, 98, 0.548);  
    color:rgb(46, 161, 98);
}
.buttonform{
    margin-top:20px;
    border:2px solid rgba(46, 161, 98, 0.548);  
    color:rgb(46, 161, 98);
    height: 50px;
    font-size: 20px;
    background: white;
    cursor: pointer;
}
.buttonform:hover{
    color:white;
    background: rgb(46, 161, 98);
}
.buttoncontainer{
    max-width: 700px;
    width:100%;
    border:1px solid rgba(46, 161, 98, 0.548);
    border-radius: 20px;
    margin-right: auto;
    margin-left:auto;
    margin-top:20px;
    padding: 10px 10px 10px 10px;
    -webkit-box-shadow: 10px 10px 11px -9px rgba(92,92,92,0.5);
    -moz-box-shadow: 10px 10px 11px -9px rgba(92,92,92,0.5);
    box-shadow: 10px 10px 11px -9px rgba(92,92,92,0.5);
}
.buttoncontainer > button{
    margin-top:20px;
    border:2px solid rgba(46, 161, 98, 0.548);  
    color:white;
    background: rgb(46, 161, 98);
    height: 80px;
    width:300px;
    font-size: 20px;
    cursor: pointer;
}
.buttoncontainer > button:hover{
    color:rgb(46, 161, 98);
    background: white;
}