<div class="container">
  <h1>Register your Users</h1>
  <div class="form">
    <label>Name</label>
    <input type="text" #inputName>
    <label>Surname</label>
    <input type="text" #inputSurname>
    <label>Telephone</label>
    <input type="text" #inputTelephone>
    <label>Image</label>
    <input type="text" #inputImage>
    <button class="buttonform"(click)="register(inputName.value, inputSurname.value, inputTelephone.value, inputImage.value)">Register User</button>
  </div>
  <div class="buttoncontainer">
    <button (click)="goToMain()">See Users</button>
  </div>
</div>