<div class="container">
  <div class="card">
    <img [src]="user.image" alt="">
    <h3>Name: {{user.name}}</h3>
    <h3>Telefone: {{user.telephone}} </h3>
    <button>Details</button>
  </div>
</div>
